.bg-dark {
    background: black !important;
    transition:0.75s ease;
}
.bg-dark.scrolled {
    background:rgb(41, 40, 40) !important;
}
.navbar-brand{
    color: brown;
    font-weight: bold;
    margin-left: 1%;
}

.navbar-header{
    width: 53%;
}
.nav-link{
    color: white;
}
